---
Language:        Cpp
BasedOnStyle:    Google
IndentWidth:     4
ColumnLimit:     80
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: InlineOnly
BreakBeforeBraces: Allman
AlwaysBreakTemplateDeclarations: Yes
Standard:        Cpp11
SortIncludes:    true
IncludeBlocks:   Preserve
NamespaceIndentation: All
BraceWrapping:
  AfterClass:      true
  AfterControlStatement: true
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  true
  AfterObjCDeclaration: true
  AfterStruct:     true
  AfterUnion:      true
  BeforeCatch:     true
  BeforeElse:      true
  IndentBraces:    false
...
