---
Language:        Cpp
BasedOnStyle:    Google
IndentWidth:     4
ColumnLimit:     80
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: InlineOnly
BreakBeforeBraces: Allman
AlwaysBreakTemplateDeclarations: Yes
Standard:        Cpp11
SortIncludes:    true
IncludeBlocks:   Preserve
...
